*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    width: 50%;
    margin: auto;
}

video{
    margin: auto;
    width: 100%;
    height: 60vh;
    object-fit:contain;
}

.wid{
    max-width: 500px;
}